@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


body{
    margin: 0;
    box-sizing: border-box;
    background-color: #D9D9D9;
}


.container{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    position: relative;
    top: 17px;
    left: 5px;
}

a{
    text-decoration: none;
    
}

a:hover{
    color: #8C862A;
}

.badge{
    border: 1px #0D0D0D  solid;
    border-radius:5px;
    background-color: #0D0D0D ;    
    box-shadow: 2px 2px 1px #F2D335;
    color: white;
    font-size: 12px;
    font-family:'Lato', sans-serif;
    padding: 3px 12px;
    font-weight: 600;
    margin: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.title{
    position: relative;
    left: 4rem;
    top: 2rem;

}

.title a{
    color:#0D0D0D;
    font-size: 25px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

.links{
    position: relative;
    margin: 63px 4rem 0 0;
}


.register{
    border: 1px #0D0D0D  solid;
    border-radius:50px;
    background-color: #0D0D0D ;    
    color:#F2D335  ;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding:9px 25px;
    margin: 0 1rem 0 1rem;
    letter-spacing: 1px;
}

.login{
    color:#0D0D0D ;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding:9px 15px;
}


.clubs{
    color: #0D0D0D;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding:9px 15px;
}

.create{
    color: #0D0D0D;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding:9px 15px;
}


.logout{
    border: 1px #262526  solid;
    border-radius:50px;
    background-color: #0D0D0D ;    
    color:#F2D335  ;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding:9px 25px;
    margin: 0 1rem 0 1rem;
    letter-spacing: 1px;
}
