<% layout('layouts/boilerplate') %> 

<div class="container grid card ">
    <div class=" main-form card-body">
        <form action="/register" method="POST">
            <div class="text-logo">

                <img src="image/user.png" alt="user">
                <h1>Sign up</h1>


            </div>

            <div class="form-control">
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>

            <div class="form-control">
                <input type="email" name="email" id="email" placeholder="@Email" required>
            </div>

            <div class="form-control">
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>

            <button class="form-register">Register</button>
        </form>
    </div>
</div>
