<% layout('layouts/boilerplate') %>

    <div class="container grid card ">
        <div class=" main-form card-body">
            <form action="/clubs" method="POST">
                <div class="text-logo">

                    <img src="image/pen.png" alt="user">
                    <h1>create club</h1>

                </div>
                <div class="form-control">
                    <input type="text" name="club[name]" id="name" placeholder="Name" required>

                </div>
                <div class="form-control">
                    <input type="text" name="club[club_title]" id="club_title" placeholder="Club Name" required>
                </div>
                <button class="form-register">Create</button>
            </form>
        </div>
    </div>