<% layout('layouts/boilerplate') %>




  <% for(let club of clubs){ %>
    <% if(currentUser && club.author.equals(currentUser._id)){ %>
      <div class="container felx"">
      <div class=" card">
        <h1 class="card-title">
          <%= club.club_title %>
        </h1>
        <a href="/clubs/<%=club._id%>" class="view-btn">View</a>
      </div>
      </div>
      <% } %>
        <% } %>